[submodule "user/apps/doomgeneric"]
	path = user/apps/doomgeneric
	url = https://git.csd4ni3l.hu/XunilGroup/doomgeneric-xunil.git
[submodule "user/libxunil"]
	path = user/libxunil
	url = https://git.csd4ni3l.hu/XunilGroup/libxunil.git
[submodule "user/init"]
	path = user/init
	url = https://git.csd4ni3l.hu/XunilGroup/xunil-init.git
[submodule "user/apps/badapple"]
	path = user/apps/badapple
	url = https://git.csd4ni3l.hu/XunilGroup/xunil_badapple.git
[submodule "user/apps/shell"]
	path = user/apps/shell
	url = https://git.csd4ni3l.hu/XunilGroup/xunil_shell.git
